.black {

    color: black;
    padding: 1.2em;
    font-family: cursive;
    background-image: url(https://cdn.pixabay.com/photo/2017/10/07/07/13/panorama-2825661_960_720.jpg);
    background-size: cover;
    margin: 2%;
    border: 2px solid black;
    border-radius: 15px 50px;

    
}

.white {
    background-color: white;
    color: black;
    padding: 1.2em;
    margin: 2%;
    border: 2px solid black;
    border-radius: 50px 15px;


}

.tila {
    padding: 0.8em;
    font-size: 30px;
    text-shadow: 7px 7px 5px rgb(58, 48, 48);
    font-size: 1vmin;
    font-size: 4vmax;
    
}

.tila2 {
    text-shadow: 7px 7px 5px rgb(58, 48, 48);
    font-size: 2vmin;
    font-size: 6vmax;
}

.feedback {
    text-align: center;
    background-color: white;
    margin: 2%;


}

#center {
    width: 100px;
    height: 30px;
}

.tausta{
    
    text-align: center;
}

.navi {

    padding: 0.6em;
    text-decoration: dotted;
    border-radius: 15px 50px;
    text-align: center;
    border: 4px solid rgb(65, 63, 63);
    inline-size: auto;
    font-size: 4vmax;
    font-size: 3vmin;

}

.row {
   
    text-align: center;
}

.col-md-4 {

    text-align: center;
}

.col-md-6 {

    text-align: center;
}

.kuvat {
    width: 100%;
    height: 100%;
}

.kuvat2 {
    width: 100%;
    height: 90%;
}

.black2 {
    background-color: black;
    color: white;

}

.pageimage {
    width: 300px;
    height: 300px;
}


.sticky {
    position: sticky;
    top: 0;
    background-color: transparent;
    padding: 15px;
    font-size: 20px;
    
    
  }

#nopadding {
    padding: 0;
  }

.logo {
    float: left;
    padding: 0.8%;
    margin: 1%;
    max-width: 12vw;
    min-width: 9vw;
    max-height: 9vw;
    min-height: 8vw;

}



body {
    background-image: url(https://cdn.pixabay.com/photo/2014/06/21/14/25/water-373780_960_720.jpg);
    background-size: cover;


}

a:link {
    color: black;
    background-color: lightblue;
    visibility: inherit;
    text-decoration: none;
 }
 a:visited {
    color: rgb(255, 0, 0);
    background-color: transparent;
    text-decoration: none;
 }
 a:active {
    color: rgb(255, 255, 255);
    background-color: transparent;
 }

